body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  background-color: #47acbb;
}
/* ? Navbar */
@media screen and (max-width: 894px) {
  .navbar_logo1 {
    display: none;
  }
}
.navbar_logo__menu_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.navbar_logo__menu_photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
/* ? Footer */
.footer_container {
  width: 100%;
  height: 250px;
  background-color: #a0d5de;

  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 40px 40px 0 0;
}
.footer_container_block1__navigation {
  display: flex;
}
.footer_container_block2__social-networks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_container_block2__social-networks_sub_container {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.footer_container_block1__navigation,
.footer_container_block2__social-networks,
.footer_container_block3__about-us {
  margin-top: 10px;
}
.footer_container_block1__navigation_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
span {
  font-size: 19px;
}
.footer_container_block3__about-us_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_container_block3__about-us_item h2 {
  padding-left: 20px;
}
@media screen and (max-width: 1000px) {
  span {
    font-size: 16px;
  }
}
@media screen and (max-width: 850px) {
  span {
    font-size: 14px;
  }
  .footer_container_block2__social-networks_sub_container {
    width: 220px;
  }
  .footer_container_block2__social-networks_sub_container img {
    width: 40px;
  }
}
@media screen and (max-width: 582px) {
  .footer_container {
    height: 500px;
  }
  span {
    font-size: 18px;
  }
  .footer_container_block2__social-networks_sub_container {
    width: 200px;
  }
  .footer_container_block2__social-networks_sub_container img {
    width: 30px;
  }
}
@media screen and (max-width: 377px) {
  .footer_container {
    height: 600px;
  }
  span {
    font-size: 18px;
  }
  .footer_container_block2__social-networks_sub_container {
    width: 200px;
  }
  .footer_container_block2__social-networks_sub_container img {
    width: 30px;
  }
}
/* ? Homepage*/
.homepage_map_container {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/8a7d4f32406029.56810e5084d31.jpg);
  height: 830px;
  width: 1400px;
  margin-bottom: 100px;
  border: 20px solid rgba(0, 0, 0, 0.32);
  border-radius: 30px;
}
.figna {
  position: fixed;
  width: 500px;
  height: 500px;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.homepage_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 100px;
}
.homepage_content {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: center;
  width: 100%;
  gap: 50px;
}
.homepage_content_item1 {
  width: 40%;
  object-fit: contain;
  border: 10px solid rgba(0, 0, 0, 0.33);
  border-radius: 60px;
}
.homepage_content2 {
}
