body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  background-color: #192734 !important;
}
/* ? Navbar */
@media screen and (max-width: 894px) {
  .navbar_logo1 {
    display: none;
  }
}
.navbar_logo__menu_container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.navbar_logo__menu_photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.profile_container {
  background-color: #15202b;
  max-height: 100%;
  color: whitesmoke;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
/* ? Footer */
.footer_container {
  width: 100%;
  height: 230px;
  background-color: #15202b;
  color: whitesmoke;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 40px 40px 0 0;
}
.footer_container_block1__navigation {
  display: flex;
  margin-left: 90px;
}
.footer_container_block2__social-networks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_container_block2__social-networks_sub_container {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
}
.footer_container_block2__social-networks_sub_container img {
  width: 50px;
  transition: 0.3s;
}
.footer_container_block2__social-networks_sub_container img:hover {
  transform: scale(1.3);
}
.footer_container_block1__navigation,
.footer_container_block2__social-networks,
.footer_container_block3__about-us {
  margin-top: 10px;
}
.footer_container_block1__navigation_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
span {
  font-size: 19px;
}
.footer_container_block3__about-us_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_container_block3__about-us_item h2 {
  padding-left: 20px;
}
@media screen and (max-width: 1000px) {
  span {
    font-size: 16px;
  }
}
@media screen and (max-width: 850px) {
  span {
    font-size: 14px;
  }
  .footer_container_block2__social-networks_sub_container {
    width: 220px;
  }
  .footer_container_block2__social-networks_sub_container img {
    width: 40px;
  }
  .footer_container_block1__navigation {
    margin-left: 50px;
  }
}
@media screen and (max-width: 582px) {
  .footer_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
  }

  span {
    font-size: 18px;
  }
  .footer_container_block2__social-networks_sub_container {
    width: 200px;
  }
  .footer_container_block2__social-networks_sub_container img {
    width: 30px;
  }
  .footer_container_block1__navigation {
    margin-left: 0;
  }
}
@media screen and (max-width: 377px) {
  span {
    font-size: 18px;
  }
  .footer_container_block2__social-networks_sub_container {
    width: 200px;
  }
  .footer_container_block2__social-networks_sub_container img {
    width: 30px;
  }
}
/* ? Homepage*/
.homepage_map_container {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/8a7d4f32406029.56810e5084d31.jpg);
  background-position: center;
  height: 830px;
  width: 1400px;
  margin-bottom: 100px;
  transition: 0.4s ease-in-out;
}
.homepage_map_container:hover {
  box-shadow: 0px 0px 100px 30px rgb(17, 98, 99);
  border-radius: 50px;
}
.homepage_container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 100px;
}

/* ? Map */
/* ? Map item restaraunt */
.homepage_map_container {
  position: relative;
  transition: 0.3s;
}
.map_container_description1 {
  position: absolute;
  width: 130px;
  height: 100px;
  left: 150px;
  top: 200px;
  transition: 1s;
}

.description1 {
  background-color: #000000a2;
  width: 150px;
  height: 170px;
  display: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.map_container_description1:hover .description1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s;
}

.description1_image {
  width: 100px;
  height: 100px;
  background-image: url(../src/assets/map/ресторан.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.description2_image {
  width: 150px;
  height: 100px;
  background-image: url(../src/assets/map/conference\ hall.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.description3_image {
  width: 100px;
  height: 100px;
  background-image: url(../src/assets/map/yacht.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.description4_image {
  width: 100px;
  height: 100px;
  background-image: url(../src/assets/map/yacht.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.description5_image {
  width: 100px;
  height: 100px;
  background-image: url(../src/assets/map/swimming_pool.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.description6_image {
  width: 100px;
  height: 100px;
  background-image: url(../src/assets/map/tennis.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.description7_image {
  width: 100px;
  height: 100px;
  background-image: url(../src/assets/map/gym.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.description8_image {
  width: 100px;
  height: 100px;
  background-image: url(../src/assets/map/aquapark.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.description9_image {
  width: 100px;
  height: 100px;
  background-image: url(../src/assets/map/baby_concept.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.description10_image {
  width: 100px;
  height: 100px;
  background-image: url(../src/assets/map/spa.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.description11_image {
  width: 150px;
  height: 110px;
  background-image: url(../src/assets/map/golf.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.description12_image {
  width: 100px;
  height: 100px;
  background-image: url(../src/assets/map/cottages.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* ? Map item 2 Residance*/
.map_container_description2 {
  position: absolute;
  width: 170px;
  height: 100px;
  left: 260px;
  top: 450px;
}

.description2 {
  background-color: #000000a2;
  width: 190px;
  height: 170px;
  display: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.map_container_description2:hover .description2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.6s;
}

/* ? Map item 3 Yacht*/
.map_container_description3 {
  position: absolute;
  width: 170px;
  height: 100px;
  left: 490px;
  top: 160px;
}

.description3 {
  background-color: #000000a2;
  width: 190px;
  height: 170px;
  display: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.map_container_description3:hover .description3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.6s;
}

/* ? Second yacht */
.map_container_description4 {
  position: absolute;
  width: 170px;
  height: 100px;
  left: 930px;
  /* background-color: #47acbb; */
  top: 180px;
}

.description4 {
  background-color: #000000a2;
  width: 190px;
  height: 170px;
  display: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.map_container_description4:hover .description4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 10s;
}
/* ? Map item Swimming Pool */
.map_container_description5 {
  position: absolute;
  width: 170px;
  height: 100px;
  left: 550px;
  top: 460px;
}

.description5 {
  background-color: #000000a2;
  width: 190px;
  height: 170px;
  display: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.map_container_description5:hover .description5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.6s;
}
/* ? Map item Tennis Court */
.map_container_description6 {
  position: absolute;
  width: 70px;
  height: 40px;
  left: 1000px;
  top: 520px;
  /* background-color: #b6d7a8; */
}

.description6 {
  background-color: #000000a2;
  width: 190px;
  height: 170px;
  display: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.map_container_description6:hover .description6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.6s;
}
/* ? Map item GYM */
.map_container_description7 {
  position: absolute;
  width: 170px;
  height: 100px;
  left: 820px;
  top: 510px;
}

.description7 {
  background-color: #000000a2;
  width: 190px;
  height: 170px;
  display: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.map_container_description7:hover .description7 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.6s;
}
/* ? Map item Aquapark */
.map_container_description8 {
  position: absolute;
  width: 170px;
  height: 100px;
  left: 120px;
  top: 450px;
}

.description8 {
  background-color: #000000a2;
  width: 190px;
  height: 170px;
  display: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.map_container_description8:hover .description8 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.6s;
}
/* ? Map item Baby concept */
.map_container_description9 {
  position: absolute;
  width: 170px;
  height: 100px;
  left: 545px;
  top: 360px;
}

.description9 {
  background-color: #000000a2;
  width: 190px;
  height: 170px;
  display: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.map_container_description9:hover .description9 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.6s;
}
/* ? Map item SPA */
.map_container_description10 {
  position: absolute;
  width: 90px;
  height: 80px;
  right: 160px;
  top: 460px;
}

.description10 {
  background-color: #000000a2;
  width: 190px;
  height: 170px;
  display: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.map_container_description10:hover .description10 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* ? Map item Golf */
.map_container_description11 {
  position: absolute;
  width: 90px;
  /* background-color: #a0d5de; */
  height: 40px;
  right: 320px;
  top: 475px;
}

.description11 {
  background-color: #000000a2;
  position: absolute;
  width: 190px;
  height: 170px;
  bottom: 1px;
  right: 10px;
  display: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.map_container_description11:hover .description11 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.6s;
}
/* ? Map item Cottages */
.map_container_description12 {
  position: absolute;
  width: 255px;
  height: 200px;
  left: 290px;
  top: 235px;
}

.description12 {
  background-color: #000000a2;
  position: absolute;
  width: 190px;
  right: 33px;
  height: 170px;
  display: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.map_container_description12:hover .description12 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.6s;
}
@media screen and (max-width: 1440px) {
  .homepage_map_container {
    display: none;
  }
}

/* ? HomaPage mini CRUD container */
.homepage_crud-container {
  margin-top: 100px;
  width: 80%;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  color: whitesmoke;
  flex-wrap: wrap;
  gap: 100px;
}
.homepage_crud-container_item {
  width: 290px;
  height: 354px;
  border-radius: 30px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(16, 96, 102), -15px -15px 30px rgb(16, 96, 102);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}
.homepage_crud-container_item:hover {
  transform: scale(1.15);
}
.homepage_crud-container_item img {
  width: 100%;
  padding: 20px;
  border-radius: 30px;
  border: none;
}

.blur2 {
  filter: blur(0.1rem);
}
.blur3 {
  filter: blur(0.3rem);
}
.homepage_crud-container_item_span {
  font-size: 4vh;
  border: none;
  background-color: transparent;
  color: whitesmoke;
  text-decoration: none;
  margin-bottom: 50px;
  transition: 0.3s;
}
.homepage_crud-container_item_span:hover {
  transform: scale(1.1);
}

/* ? HomePage edits */
.homepage_card_container {
  margin-top: 100px;
  display: flex;
  gap: 100px;
  flex-direction: column;
  width: 90%;
  align-items: center;
  transition: 0.6s ease-in-out;
}
.homepage_card_container:hover {
  box-shadow: 0px 0px 50px 20px rgb(0, 96, 99);
  transform: scale(0.98);
  border-radius: 100px;
}

.homepage_content_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.homepage_content_container span {
  border-left: 10px solid;
  padding-left: 10px;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  width: 40%;
  font-size: 30px;
  color: whitesmoke;
}
.homepage_card {
  overflow: hidden;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 5px 5px 15px rgb(6, 4, 4), -10px -5px 30px rgba(0, 0, 0, 0.454);
}

.homepage_card img {
  width: 100%;
}
.item1 {
  width: 700px;
  height: 330px;
}
.item2 {
  width: 700px;
  height: 330px;
}
.item3 {
  width: 700px;
  height: 430px;
}
.homepage_text {
  text-align: center;
  font-size: 100px;
  background-image: linear-gradient(
    to left,
    yellow,
    indigo,
    blue,
    purple,
    pink
  );
  background-clip: text;
  color: transparent;
}

.homepage_content_container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-bottom: 100px;
}
.homepage_iframe_container {
  width: 80%;
  height: 800px;
  display: flex;
  justify-content: center;
  transition: 0.6s ease-in-out;
}
.homepage_iframe_container:hover {
  box-shadow: 0 0 30px 20px rgb(18, 103, 114);
}
.span_for_display {
  display: none;
}

@media screen and (max-width: 1100px) {
  .item1 {
    width: 600px;
    height: 270px;
  }
  .homepage_content_container span {
    font-size: 25px;
  }
  .homepage_content_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .span_for_undisplay {
    display: none;
  }
  .span_for_display {
    display: block;
  }
  .homepage_content_container span {
    border: none;
    text-align: center;
    width: 90%;
    color: whitesmoke;
  }
}
@media screen and (max-width: 830px) {
  .homepage_card_container {
    margin-top: 10px;
  }
  .homepage_text {
    font-size: 60px;
    margin-bottom: 0;
  }
  .item2 {
    width: 500px;
    height: 230px;
  }
  .item3 {
    width: 500px;
    height: 310px;
  }
  .homepage_iframe_container {
    height: 300px;
    margin-top: 30px !important;
  }
  .homepage_card {
    width: 70%;
  }
  .homepage_content_container {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .homepage_card_container:hover {
    border-radius: 50px;
  }
  .footer_container_block3__about-us {
    text-align: center;
  }
  .homepage_card {
    width: 100%;
  }
  .item1 {
    height: 200px;
  }
  .item2 {
    height: 175px;
  }
  .item3 {
    height: 240px;
  }
  .homepage_content_container span {
    font-size: 20px;
  }
  .homepage_text {
    font-size: 45px;
  }
}
@media screen and (max-width: 375px) {
  .homepage_card_container:hover {
    border-radius: 50px;
  }
  .homepage_iframe_container {
    height: 200px;
  }
  .homepage_card {
    width: 100%;
  }
  .item1 {
    height: 195px;
  }
  .item2 {
    height: 156px;
  }
  .item3 {
    height: 150px;
  }
  .homepage_text {
    font-size: 40px;
  }
}
@media screen and (max-width: 320px) {
  .item1 {
    height: 167px;
  }
  .item2 {
    height: 135px;
  }
  .item3 {
    height: 150px;
  }

  .homepage_card {
    width: 100%;
  }
  .homepage_content_container span {
    font-size: 15px;
  }
  .homepage_text {
    font-size: 30px;
  }
}

/* todo Service page */
.servicepage_container {
  background-color: #192734;

  color: whitesmoke;
  width: 100%;
}
.services_hero {
  height: 1000px;
  background-image: url("./assets/zyro-image.png");
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services_hero_text-container {
  width: 900px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.553);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 30px;
}

.services_hero h2 {
  font-size: 50px;
}
.services_hero_text-container p {
  width: 800px;
  text-align: center;
  font-size: 22px;
}

@media screen and (max-width: 700px) {
  .service_img {
    width: 350px !important;
    height: 300px !important;
  }
  .css-1j1x1o0 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .css-iltq8i {
    height: 300px !important;
  }
}

@media screen and (max-width: 820px) {
  .services_hero_text-container {
    width: 50%;
    height: 450px;
  }
  .services_hero h2 {
    font-size: 32px;
  }
  .services_hero_text-container p {
    width: 80%;

    font-size: 18px;
  }
}
@media screen and (max-width: 650px) {
  .services_hero_text-container {
    width: 80%;
  }

  .services_hero_text-container p {
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  .services_hero h2 {
    font-size: 24px;
  }
  .service_img {
    width: 320px !important;
    height: 320px !important;
  }
}
@media screen and (max-width: 370px) {
  .css-1j1x1o0 {
    gap: 60px;
  }
}
/* ? Authpage */

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: whitesmoke !important;
}
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  color: whitesmoke !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:invalid {
  color: whitesmoke !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: whitesmoke !important;
}

.navbar_profile_sign_out {
  font-size: 16px !important;
  margin-bottom: 10px !important;
  transition: 0.3s !important;
}
.navbar_profile_sign_out:hover {
  transform: scale(1.3);
}

.navbar_link {
  text-decoration: none;
  color: whitesmoke;
  transition: 0.3s;
}
.navbar_link:hover {
  transform: scale(1.3);
}

.footer_container_block1__navigation_item_sub {
  font-size: 18px;
  transition: 0.3s;
  text-decoration: none;
  color: whitesmoke;
}

.footer_container_block1__navigation_item_sub:hover {
  transform: scale(1.3);
}

.navbar_items {
  transition: 0.2s !important;
}
.navbar_items:hover {
  transform: scale(1.1);
}

/* ? DetailPage */

.detailPage_container {
  margin-top: 100px;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

.detailPage_container_info {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 300px;
  color: #ffffff;
}
.detailPage_container_carousel {
  width: 90vw;
}
.detailPage_container_info_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.detailPage_container_info_right {
  width: 50%;
  right: 0;
}

/* ? Restaraunt Menu Page */
.menuPage_container {
  height: 100vh;
  margin-top: 100px;
  color: whitesmoke;
}

/* ? Order Page */
.order_info {
  display: none;
}
@media screen and (max-width: 768px) {
  .order_info {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-size: 30px;
    text-align: center;
  }
  .calendar {
    display: none;
  }
}
